<app-home-navbar></app-home-navbar>






<header class="bg-white shadow">
  <div class="max-w-7xl mx-auto py-6 px-4 sm:px-6 lg:px-8">
    <h1 class="text-3xl font-bold text-gray-900">
      Crea tu Landing Page
    </h1>
  </div>
</header>
<main>
  <div class="max-w-7xl mx-auto py-6 sm:px-6 lg:px-8">
    <!-- Replace with your content -->
    <div class="mt-10 sm:mt-0">
      <div class="md:grid md:grid-cols-3 md:gap-6">
        <div class="md:col-span-1">
          <div class="px-4 sm:px-0">
            <h3 class="text-center text-lg font-medium leading-6 text-gray-900">Completa tu landing</h3>
            <p class=" text-center  mt-1 text-sm text-gray-600">
              Edita tu landing page para luego ser publicado
            </p>

            <div class="pt-5 mt-2">
              <img class="" src="../../../assets/img/ejemplo.png">
            </div>
          </div>
        </div>
        <div class="mt-5 md:mt-0 md:col-span-2">
          <form action="#" method="POST">

            <div class="shadow overflow-hidden sm:rounded-md">
              <div class="px-4 py-5 bg-white sm:p-6">
                <h3 class="text-lg leading-6 font-medium text-gray-900 pb-2">
                  Informacion Del Landing
                </h3>
                <div class="grid grid-cols-6 gap-6">

                  <div class="col-span-6 sm:col-span-3">
                    <label for="first-name" class="block text-sm font-medium text-gray-700">Titulo principal :</label>
                    <input type="text" name="first-name" id="first-name" autocomplete="given-name" class="shadow appearance-none border rounded w-full py-1 px-1 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
                  </div>

                  <div class="col-span-6 sm:col-span-3">
                    <label for="last-name" class="block text-sm font-medium text-gray-700">Id Landing</label>
                    <input type="text" name="last-name" id="last-name" autocomplete="family-name" class="shadow appearance-none border rounded w-full py-1 px-1 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
                  </div>


                  <div class="col-span-6">
                    <label for="street-address" class="block text-sm font-medium text-gray-700">Subtitulo</label>
                    <input type="text" name="street-address" id="street-address" autocomplete="street-address" class="shadow appearance-none border rounded w-full py-1 px-1 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
                  </div>

                  <div class="col-span-6 sm:col-span-6 lg:col-span-2">
                    <label for="city" class="block text-sm font-medium text-gray-700">Ventajas/Valor agregado</label>
                    <input type="text" name="city" id="city" autocomplete="address-level2" class="shadow appearance-none border rounded w-full py-1 px-1 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
                  </div>

                  <div class="col-span-6 sm:col-span-4">
                    <label for="email-address" class="block text-sm font-medium text-gray-700">Email address</label>
                    <input type="text" name="email-address" id="email-address" autocomplete="email" class="shadow appearance-none border rounded w-full py-1 px-1 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
                  </div>

                  <div class="col-span-6 sm:col-span-4" >
                    <h3 class="text-lg leading-6 font-medium text-gray-900 pb-2">
                      Nota: Junto a la creación del landing page se creara un formulario para obtener los datos del usuario
                    </h3>
                  </div>


                </div>
              </div>
              <div class="px-4 py-3 bg-gray-50 text-right sm:px-6">
                <button type="submit" class="inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-green-600 hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-500">
                  Crear
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>

    <!-- /End replace -->
  </div>
</main>


























