<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-scale-multiple"
>
  <p style="font-size: 20px; color: white">Cargando..</p>
</ngx-spinner>

<app-home-navbar></app-home-navbar>
<header class="bg-white shadow">
  <div class="max-w-7xl mx-auto py-6 px-4 sm:px-6 lg:px-8">
    <h1 class="text-3xl font-bold text-gray-900">
      Crea tu Landing Page
    </h1>
  </div>
</header>

<main>
  <form #landingForm="ngForm" >
  <div class="max-w-7xl mx-auto py-6 sm:px-6 lg:px-8">
    <!-- Replace with your content -->
    <div class="mt-10 sm:mt-0">
      <div class="md:grid md:grid-cols-3 md:gap-6">
        <div class="md:col-span-1">

          <div  class="px-4 sm:px-0">
            <h3 class="text-center text-lg font-medium leading-6 text-gray-900">Completa tu landing</h3>
            <p class=" text-center  mt-1 text-sm text-gray-600">
              Edita tu landing page para luego ser publicado
            </p>

            <div class="pt-5 mt-2">
              <img class="" src="../../../assets/img/previewCasa.PNG">
              <label class="inline-flex items-center ml-10">
                <input type="radio" class="form-radio"  value="casasLanding" name="plantilla" #plantilla="ngModel" [(ngModel)]="landing.plantilla" required  >
                <span class="ml-2">CasasLanding</span>
              </label>
            </div>
            <div class="pt-5 mt-2">
              <img class="" src="../../../assets/img/previewAsesoria.PNG">
              <label class="inline-flex items-center ml-10">
                <input type="radio" class="form-radio" value="deptosLanding" name="plantilla" #plantilla="ngModel" [(ngModel)]="landing.plantilla">
                <span class="ml-2">DeptosLanding</span>
              </label>
            </div>
            <div class="pt-5 mt-2">
              <img class="" src="../../../assets/img/previewDepto.PNG">
              <label class="inline-flex items-center ml-10">
                <input type="radio" class="form-radio"  value="asesoriaLanding"  name="plantilla" #plantilla="ngModel" [(ngModel)]="landing.plantilla">
                <span class="ml-2">AsesoriaLanding</span>
              </label>
            </div>
          </div>
        </div>
        <div class="mt-5 md:mt-0 md:col-span-2">

            <h3 class="text-lg leading-6 font-medium text-gray-900 pb-2">
              Informacion Del Landing
            </h3>

            <div class="shadow overflow-hidden sm:rounded-md mt-10">
              <div class="px-4 py-5 bg-white sm:p-6">

                <div class="grid grid-cols-6 gap-6">

                  <div class="col-span-6 sm:col-span-3">
                    <label for="last-name" class="block text-sm font-medium text-gray-700">Id Landing</label>
                    <input type="text" name="idLanding" #idLanding="ngModel" [(ngModel)]="landing.idLanding" class="shadow appearance-none border rounded w-full py-1 px-1 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
                  </div>

                  <div class="col-span-6 sm:col-span-3">
                    <label for="first-name" class="block text-sm font-medium text-gray-700">Titulo principal :</label>
                    <input type="text" name="titulo" #titulo="ngModel" [(ngModel)]="landing.titulo" class="shadow appearance-none border rounded w-full py-1 px-1 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
                  </div>

                  <div class="col-span-6">
                    <label for="street-address" class="block text-sm font-medium text-gray-700">Subtitulo</label>
                    <input type="text" name="subtitulo" #subtitulo="ngModel" [(ngModel)]="landing.subtitulo" class="shadow appearance-none border rounded w-full py-1 px-1 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
                  </div>

                  <div class="col-span-6 sm:col-span-6 lg:col-span-2">
                    <label for="city" class="block text-sm font-medium text-gray-700">Descripcion</label>
                    <input type="text" name="descripcion" #descripcion="ngModel" [(ngModel)]="landing.descripcion" class="shadow appearance-none border rounded w-full py-1 px-1 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
                  </div>

                  <div class="col-span-6 sm:col-span-4">
                    <label for="email-address" class="block text-sm font-medium text-gray-700">Email address</label>
                    <input  type="email" name="email" #email="ngModel" [(ngModel)]="landing.email" class="shadow appearance-none border rounded w-full py-1 px-1 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
                  </div>

                  <div class="col-span-6 sm:col-span-4" >
                    <h3 class="text-lg leading-6 font-medium text-gray-900 pb-2">
                      Nota: todos los landing tendran un formulario por defecto agregado
                    </h3>
                  </div>

                  <!--Cards preview landings-->
                </div>
              </div>
              <div class="px-4 py-3 bg-gray-50 text-right sm:px-6">
                <button type="submit" class="inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-green-600 hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-500"
                (click)="iniciarAceptarLanding()" >Crear</button>
              </div>
            </div>
        </div>
      </div>
    </div>

    <!-- /End replace -->
  </div>
  <modal-aceptar-landing></modal-aceptar-landing>
</form>

</main>



























