<form>
  <div>
    <h1 style="color: blue;">Registro de publify</h1>
  </div>
  <div>
    <label for="givenName">Primer nombre</label>
    <input type="text" name="givenName"[([(ngModel)]="givenName" requiered placeholder="Ingrese su nombre">
  </div>
  <div>
    <label for="familyName">apellido</label>
    <input type="text" name="familyName" [([(ngModel)]="familyName" requiered placeholder="Ingrese su apellido">
  </div>
  <div>
    <label for="email">Direccion de correo electronico</label>
    <input type="email" name="email" [([(ngModel)]="email" requiered placeholder="Ingrese correo">
  </div>
  <div>
    <label for="password">contraseña</label>
    <input type="password" [([(ngModel)]="password" name="password" required placeholder="Ingrese su contraseña">
  </div>

  <div>
    <br />
    <button (click)="register()" class="btn btn-primary btn-block" type="button" >register</button>
  </div>
</form>
<p class="text-dark mb-0">alredy a member?<a href="/login" class="text-primary ml-1" >login</a> </p>
