<div class="bg-grey-lighter min-h-screen flex flex-col">
  <div class="lg:flex w-full  bg-gray-500 bg-no-repeat bg-cover  items-center"
      style="background-image: url(../../assets/img/publify.png.jpg);">
  <div class="container max-w-sm mx-auto flex-1 flex flex-col items-center justify-center px-2">
    <form class="bg-white px-6 py-8 rounded shadow-md text-black w-full">
      <h1 class="mb-8 text-3xl text-center">Registro de publify</h1>
      <input type="text" class="block border border-grey-light w-full p-3 rounded mb-4" name="givenName"
        [(ngModel)]="givenName" placeholder="Ingrese su nombre" />

      <input type="text" class="block border border-grey-light w-full p-3 rounded mb-4" name="familyName"
        [(ngModel)]="familyName" requiered placeholder="Ingrese su apellido">
      <input type="email" name="email" class="block border border-grey-light w-full p-3 rounded mb-4"
        [(ngModel)]="email" requiered placeholder="Ingrese correo">



      <input type="password" class="block border border-grey-light w-full p-3 rounded mb-4"
      [(ngModel)]="password" name="password" required placeholder="Ingrese su contraseña" />

      <input type="password" class="block border border-grey-light w-full p-3 rounded mb-4" name="confirm_password"
        placeholder="Confirma tu contraseña" />

      <button type="submit" (click)="register()"
        class="w-full text-center py-3 rounded bg-green text-black hover:bg-green-dark focus:outline-none my-1">Crear Cuenta</button>

      <div class="text-center text-sm text-grey-dark mt-4">
        Al suscribirte, aceptas los
        <a class="no-underline border-b border-grey-dark text-grey-dark" href="#">
          Términos de servicio
        </a> y
        <a class="no-underline border-b border-grey-dark text-grey-dark" href="#">
          Política de Privacidad
        </a>
      </div>
    </form>

    <div class="text-grey-dark mt-6">
      ¿Ya tienes una cuenta?
      <a class="no-underline border-b border-blue text-blue" href="/login">
        Log in
      </a>.
    </div>
  </div>
</div>
